:root {
    --red: #E21E2A;
    --blue: #0C54A0;
    --white: #F5F5F5;
    --dark: #131313;
    --regular: 400;
    --bold: 700;
}

* {
    margin: 0;
    padding: 0px;    
}

body {
    background-color: var(--dark);
    color: var(--white);
    height: 100vh;
    padding: 0;
    font-family: Chakra Petch;
}

h1 {
    font-family: Chakra Petch;
    font-weight: var(--regular);
    font-size: 48pt;
    width: 350px;
    display: inline-block;
}

h2 {
    font-family: Chakra Petch;
    font-weight: var(--regular);
    font-size: 32pt;
    display: inline-block;
}

main {
    display: grid;
    column-gap: 20px;
    height: 100vh;
    padding: 0;
}

.footer {
    display: flex;
    grid-column: 6/8;
    grid-row: 4;
    align-self: end;
    width: 220px;
    justify-content: space-between;
}

main > * {
    display: inline-block;
    align-self: center;
    justify-self: center;
}

button {
    background-color: var(--blue);
    font-family: Chakra Petch;
    font-weight: var(--bold);
    color: var(--white);
    height: 75px;
    width: 450px;
    border: none;
    border-radius: 20px;
    font-size: 36px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.red-square,
.blue-square,
.white-square {
    width: 55px;
    height: 25px;
}

.red-square {
    background-color: var(--red);
}

.white-square {
    background-color: var(--white);
}

.blue-square {
    background-color: var(--blue);
}

.top-bar {
    grid-column: 1 / 13;
    width: 100%;
}

.top-bar > a > img {
    margin: 0 0 0 20px;
}

.instruction {
    grid-column: 3 / 11;
}