main {
    grid-template-rows: 160px 1fr 2fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
}

.footer {
    grid-row: 5;
}

#input-username {
    grid-column: 4 / 10;
    grid-row: 3;
    width: 100%;
    height: 100%;
}

#username, #gameID {
    height: 75px;
    font-size: 32pt;
    font-family: Chakra Petch;
    padding: 0 5px
}

#username:focus, #gameID:hover {
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form > * {
    margin: 15px 0 10px 0;
}

form > label {
    margin-left: 40px ;
    font-size: 40pt;
}

form > .button {
    margin:20px auto;
}

#game-details {
    grid-template-rows: 160px 1fr 3fr 1fr;
    grid-template-columns: repeat(12, 1fr);
}

.join {
    background-color: var(--red);
}